<app-menu></app-menu>
<!-- Courses Section -->
<section id="courses" class="courses section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>
      <i class="fa-solid fa-star"></i> Animation
      <i class="fa-solid fa-star"></i>
    </h2>
    <p style="margin-top: -30px">Les animations par thème</p>
  </div>
  <!-- End Section Title -->

  <div class="container card shadow">
    <div
      class="row justify-content-center"
      style="margin-bottom: 20px; margin-top: 10px"
    >
      <!-- Menu of buttons -->
      <div class="btn-group" role="group" aria-label="Card Category">
        <button type="button" class="btn btnA btn-primary mx-2">Science</button>

        <button type="button" class="btn btnA btn-primary mx-2">
          Technologie
        </button>
        <button type="button" class="btn btnA btn-primary mx-2">Arts</button>
        <button type="button" class="btn btnA btn-primary mx-2">
          Mathematique
        </button>
        <button type="button" class="btn btnA btn-primary mx-2">Langues</button>
      </div>
    </div>

    <div class="row mg">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch shadow">
        <div class="course-item">
          <img
            src="../../../assets/images/image-acceuil-kitchen2.jpg"
            class="img-fluid"
          />
          <div class="course-content">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <p class="category" style="text-decoration: underline">
                <strong>Mathematique</strong>
              </p>
              <p
                class="price"
                style="
                  background-color: rgb(190, 250, 230);
                  padding: 3px;
                  font-size: small;
                  border-radius: 55px;
                "
              >
                Deja reserve
              </p>
            </div>

            <h3>
              <a
                ><i class="fa-solid fa-puzzle-piece"></i> Creation du puzzles</a
              >
            </h3>
            <p class="description">
              Les élèves conçoivent des énigmes mathématiques originales, allant
              de simples calculs à des défis logiques plus complexes.
            </p>
            <hr />
            <p class="description">
              <i class="fa-solid fa-map-pin"></i> Appartement activité , Salle
              A12
            </p>

            <p class="description"><strong>Date Debut :</strong> 03/06/2024</p>
            <p class="description fin">
              <strong>Date Fin :</strong> 11/08/2024
            </p>
            <hr />
            <div class="text-center">
              <a class="read-more d-inline-block align-items-center" href="#">
                <span> S'inscrire </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Course Item-->

      <!-- End Course Item-->
    </div>
  </div>
</section>
<app-bas-de-page></app-bas-de-page>
