<app-menu></app-menu>
<!-- Courses Section -->
<section id="courses" class="courses section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>
      <i class="fa-solid fa-star"></i> Mes animations
      <i class="fa-solid fa-star"></i>
    </h2>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row mg">

      <div *ngFor="let animation of animationsByidCompte" class="col-lg-4 col-md-6 d-flex align-items-stretch shadow">
        <div class="course-item">
          <img
          [src]="'../../../assets/images/'+animation.pathImage"
            class="img-fluid"
          />
          <div class="course-content">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <p class="category" style="text-decoration: underline">
                <strong>{{ animation.theme.libelle }}</strong>
              </p>
              <p
                class="price"
                style="
                  background-color: rgb(190, 250, 230);
                  padding: 3px;
                  font-size: small;
                  border-radius: 55px;
                " *ngIf="isAnimationPassed(animation)"
              >
              animation deja passé
              </p>
            </div>

            <h3>
              <a
                ><i class="fa-solid fa-puzzle-piece"></i>{{ animation.titre }}</a
              >
            </h3>
            <p class="description">
              {{ animation.description }}
            </p>
            <hr />
            <p class="description">
              <i class="fa-solid fa-map-pin"></i> {{ animation.lien.batiment }} , {{ animation.lien.numSalle }}
            </p>

            <p class="description"><strong>Date Debut :</strong>{{ animation.dateDebut }}</p>
            <p class="description fin">
              <strong>Date Fin :</strong> {{ animation.dateFin }} 
            </p>
            <hr />
            <p class="description"><strong>nombre min :</strong> {{ animation.nombreMin }} </p>
            <p class="description"><strong>nombre max :</strong> {{ animation.nombreMax }} </p>
            <hr />
            <div *ngIf="!isAnimationPassed(animation)" class="text-center" >
              <a class="read-more d-inline-block align-items-center" (click)="desinscrire(animation.id)">
                <span> Désinscrire </span>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<app-bas-de-page></app-bas-de-page>
