<app-menu></app-menu>
<!-- Courses Section -->
<section id="courses" class="courses section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>
      <i class="fa-solid fa-star"></i> Animation
      <i class="fa-solid fa-star"></i>
    </h2>
    <p style="margin-top: -30px">Les animations par thème</p>
  </div>
  <!-- End Section Title -->

  <div class="container card shadow">
    <div
      class="row justify-content-center"
      style="margin-bottom: 20px; margin-top: 10px"
    >
      <!-- Menu of buttons -->
      <div *ngIf="listThemes">
        <div class="btn-group" role="group" aria-label="Card Category">
          <button *ngFor="let theme of listThemes" type="button" class="btn btnA btn-primary mx-2" (click)="getAnimations(theme.id)">{{ theme.libelle }}</button>
        </div>
      </div>
      
    </div>

    <div class="row mg">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch shadow"  *ngFor="let animation of listAnimations">
        
        <div class="course-item">
          <img
          [src]="'../../../assets/images/'+animation.pathImage"
            class="img-fluid"
          />
          <div class="course-content">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <p class="category" style="text-decoration: underline">
                <strong>{{ animation.theme.libelle }}</strong>
              </p>
              <p
                class="price"
                style="
                  background-color: rgb(190, 250, 230);
                  padding: 3px;
                  font-size: small;
                  border-radius: 55px;
                "
              >
              {{ isAlreadyReserved(animation.id) ? 'Deja inscrit' : '' }}
              </p>
            </div>

            <h3>
              <a
                ><i class="fa-solid fa-puzzle-piece"></i> {{ animation.titre }}</a
              >
            </h3>
            <p class="description">
              {{ animation.description }}
            </p>
            <hr />
            <p class="description">
              <i class="fa-solid fa-map-pin"></i> {{ animation.lien.batiment }} , {{ animation.lien.numSalle }} 
            </p>

            <p class="description"><strong>Date Debut :</strong> {{ animation.dateDebut }} </p>
            <p class="description fin">
              <strong>Date Fin :</strong> {{ animation.dateFin }} 
            </p>
            <hr />
            <p class="description"><strong>nombre min :</strong> {{ animation.nombreMin }} </p>
            <p class="description"><strong>nombre max :</strong> {{ animation.nombreMax }} </p>
            <hr />

            <div *ngIf="!isAlreadyReserved(animation.id)" class="text-center" >
              <a class="read-more d-inline-block align-items-center" (click)="addAnimationToCompte(animation.id)">
                <span> S'inscrire </span>
              </a>
            </div>
          </div>
        </div>

      </div>
      <!-- End Course Item-->

      <!-- End Course Item-->
    </div>
  </div>
</section>
<app-bas-de-page></app-bas-de-page>
